InstagibHud
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: Prompt;
	color: white;
	font-size: 24px;
	flex-direction: column;
	align-items: center;

	.crosshair
	{
		top: 50%;
		left: 50%;
		position: absolute;
		transform: translate(-50%, -50%);
		width: 2px;
		height: 2px;
		background-color: white;
	}

	> .top-bar
	{
		flex-direction: column;

		.info
		{
			background-color: black;
			padding: 2px;
			font-size: 14px;
			font-weight: 600;
			justify-content: space-around;
			align-items: center;

			.fraglimit
			{
				align-self: flex-start;
			}
		}
	}

	.leaderboard
	{
		gap: 8px;
		font-size: 14px;
		min-width: 200px;
		justify-content: center;

		.entry
		{
			flex-shrink: 0;
			flex-direction: column;
			align-items: center;
			padding: 4px;
			text-shadow: 0 0 2px rgba(0, 0, 0, 0.425);
			
			.avatar
			{
				width: 42px;
				height: 42px;
			}

			.name
			{
				max-width: 64px;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}
		}
	}

	.banner
	{
		position: absolute;
		top: 50%;
		left: 0%;
		width: 100%;
		background-color: rgba(black, 0.5);
		padding: 16px;
		border-radius: 8px;
		text-align: center;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		h1
		{
			font-size: 48px;
			font-weight: bolder;
		}
	}
}