InstagibHud
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: Prompt;
	color: white;
	font-size: 24px;
	flex-direction: column;
	align-items: center;

	.crosshair
	{
		top: 50%;
		left: 50%;
		position: absolute;
		transform: translate(-50%, -50%);
		width: 2px;
		height: 2px;
		background-color: white;
	}

	> .top-bar
	{
		flex-direction: column;

		.info
		{
			background-color: black;
			padding: 2px;
			font-size: 14px;
			font-weight: 600;
			flex-direction: column;

			.stuff
			{
				justify-content: space-around;
				align-items: center;
				

				.fraglimit
				{
					align-self: flex-start;
				}
			}
		}

		.team-score
		{
			flex-direction: row;
			flex-grow: 1;
			min-width: 500px;
			width: 100%;
			background-color: rgb(48, 48, 48);
			align-self: center;

			.bar
			{
				background-color: white;
				justify-content: center;
				align-items: center;

				&:nth-child(1)
				{
					background-color: red;
				}

				&:nth-child(2)
				{
					background-color: blue;
				}

				&:nth-child(3)
				{
					background-color: green;
				}

				&:nth-child(4)
				{
					background-color: yellow;
				}
			}
		}
	}

	.leaderboard
	{
		gap: 8px;
		font-size: 14px;
		min-width: 200px;
		justify-content: center;

		.entry
		{
			flex-shrink: 0;
			flex-direction: column;
			align-items: center;
			padding: 4px;
			text-shadow: 0 0 2px rgba(0, 0, 0, 0.425);
			
			.avatar
			{
				width: 42px;
				height: 42px;
			}

			.name
			{
				max-width: 64px;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}

			.streak
			{
				position: absolute;
				top: 100%;
				width: auto;
				background-color: black;
				transform-origin: 50% 50%;
				transform: rotate(-5deg) scale(1);
				white-space: nowrap;	
				padding: 0px 4px;
				transition: all 0.4s ease-in;
				
				&:intro
				{
					transform: scale(0);
				}
			}
		}
	}

	.banner
	{
		position: absolute;
		top: 50%;
		left: 0%;
		width: 100%;
		background-color: rgba(black, 0.5);
		padding: 16px;
		text-align: center;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		h1
		{
			font-size: 48px;
			font-weight: bolder;
		}
	}

	.loading
	{
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		justify-content: center;
		align-items: center;
		background-color: rgba(black, 0.9);
		flex-direction: column;
		pointer-events: all;

		h1
		{
			font-size: 128px;
			font-weight: bolder;
		}
	
		i
		{
			top: 32px;
			font-size: 92px;
			animation: spin 1s linear infinite;
		}
	}

	.killstreak
	{
		position: absolute;
		top: 10%;
		left: 0;
		right: 0;
		height: 20%;
		font-size: 48px;
		font-weight: bolder;
		transform: scale(1);
		transition: all 0.2s ease-in;
		text-align: center;
		justify-content: center;
		align-items: center;

		&:intro
		{
			transform: scale(0);
		}
	
	}
}

@keyframes spin
{
	from
	{
		transform: rotate(0deg);
	}
	to
	{
		transform: rotate(360deg);
	}
}