MainMenu
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	flex-direction: column;
	backdrop-filter: blur(4px);
	pointer-events: all;
	
	SocialBar
	{
		padding: 0px 32px 32px 32px;
	}

}