MusicPlayerPanel
{
	position: absolute;
	right: 64px;
	bottom: 0;
	font-family: Prompt;
	font-size: 14px;
	flex-direction: column;

	.header
	{
		font-size: 12px;
		align-items: center;
		color: rgba(white, 1);
		text-shadow: 0 0 2px black;
		font-weight: 700;
		justify-content: space-between;

		i
		{
			font-size: 16px;
			cursor: pointer;

			&:hover
			{
				color: white;
			}
		}
	}

	.progress
	{
		position: relative;
		background-color: rgba(white, 0.1);
		padding: 4px 8px;
		box-shadow: 0 0 4px black;

		.bar
		{
			position: absolute;
			top: 0px;
			left: 0px;
			background-color: white;
			height: 100%;
			z-index: 1;
		}
	}

	&.can-click
	{
		pointer-events: all;
	}
}