MainMenuCreateServerPage
{
    width: 100%;
    height: 100%;
    padding: 64px;
    gap: 48px;
    justify-content: space-between;
    text-shadow: 0px 0px 8px black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: Protest Strike;

    > .container
    {
        flex-direction: column;
        width: 1400px;
        height: 800px;
        background-color: rgb(49, 49, 53);
        padding: 12px;
        box-shadow: 0px 0px 16px black;
        align-items: center;
        gap: 8px;

        .content
        {
            width: 100%;
            flex-grow: 1;
            flex-direction: row;
            justify-content: space-between;

            .side-header
            {
                font-size: 32px;
                font-weight: 600;
                margin-bottom: 4px;
                color: white;
                text-shadow: 0px 0px 8px black;
                border-radius: 4px;
            }

            > .left
            {
                max-width: 46%;
                flex-grow: 1;
                flex-direction: column;
                background-color: rgb(34, 34, 36);
                padding: 8px;
                gap: 8px;
                flex-direction: column;

                .gamemode-box
                {
                    flex-direction: column;
                    gap: 8px;
                    padding: 8px;
                    background-color: rgba(black, 0.5);
                    .gamemodes
                    {
                        gap: 8px;
                        flex-direction: column;

                        .gamemode
                        {
                            flex-grow: 1;
                            background-color: rgb(24, 24, 27);
                            flex-direction: row;
                            align-items: center;
                            cursor: pointer;
                            padding: 16px 8px;
                            gap: 16px;

                            img
                            {
                                width: 64px;
                                height: 64px;
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-position: center;
                            }

                            .info
                            {
                                flex-direction: column;
                                justify-content: center;

                                h1
                                {
                                    font-size: 32px;
                                    font-weight: 600;
                                }

                                .desc
                                {
                                    font-size: 14px;
                                }
                            }

                            &:hover
                            {
                                background-color: rgb(44, 44, 48);
                                sound-in: ui.button.over;
                            }

                            &:active
                            {
                                background-color: rgb(34, 34, 38);
                                sound-in: ui.button.press;
                            }

                            &.selected
                            {
                                background-color: rgb(64, 64, 68);
                            }
                        }
                    }
                }
                
                .settings
                {
                    flex-direction: column;
                    width: 100%;

                    .setting
                    {
                        width: 100%;
                        align-items: center;
                        padding: 8px;

                        > i, > img
                        {
                            width: 24px;
                            height: 24px;
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;
                            margin-right: 8px;
                        }

                        .name
                        {
                            min-width: 200px;
                        }

                        .slidercontrol 
                        {
                            flex-grow: 1;
                            align-items: center;
                            .inner
                            {
                                justify-content: center;
                            }
                            .entry
                            {
                                background-color: rgba(255, 255, 255, 0.02);
                                padding: 0px 4px;
                                
                                .textentry
                                {
                                    align-items: center;
                                    justify-content: center;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }

                .grow-block
                {
                    flex-grow: 1;
                }

                .help-text
                {
                    font-family: Prompt;
                    font-weight: 200;
                    font-style: italic;
                    width: 100%;
                    text-align: center;
                }

            }

            > .right
            {
                max-width: 53%;
                flex-direction: column;
                padding: 8px;
                gap: 12px;
    
                PackageList
                {
    
                    PackageFilters
                    {
                        height: 24px;
                        justify-content: space-between;

                        .right
                        {
                            width: 300px;
                        }
    
                        PackageFilterFacet, PackageFilterOrder, TextEntry
                        {
                            font-size: 16px;
                            padding: 2px 4px;
                            height: 32px;
                        }

                        PackageFilterFacet
                        {
                            &:nth-child(1)
                            {
                                display: none;
                            }
                        }
                    }
    
                    PackageCard
                    {
                        max-width: 200px;
                        min-width: 200px;
                        flex-shrink: 0;
                        top: 42px;
                    }

                    TextEntry
                    {
                        max-width: 150px;
                    }
                }
            }
        }

        .buttons
        {
            width: 100%;
            justify-content: space-between;
            padding: 0px 8px;
            flex-shrink: 0;

            .group
            {
                gap: 16px;
            }

            .button
            {
                font-size: 24px;
                font-weight: 600;
                padding: 8px 16px;
                border-radius: 4px;
                background-color: rgb(49, 49, 53);
                color: white;
                text-shadow: 0px 0px 8px black;
                transition: all 0.2s ease-out;
                cursor: pointer;

                &:hover
                {
                    background-color: rgb(64, 64, 68);
                    sound-in: ui.button.over;
                }

                &:active
                {
                    background-color: rgb(44, 44, 48);
                    sound-in: ui.button.press;
                }
            }
        }
    }
}