MainMenuStatsPage
{
    width: 100%;
    height: 100%;
    padding: 64px;
    gap: 48px;
    justify-content: space-between;
    text-shadow: 0px 0px 8px black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;

    > .container
    {
        flex-direction: column;
        width: 1400px;
        height: 800px;
        background-color: rgb(49, 49, 53);
        padding: 12px;
        box-shadow: 0px 0px 16px black;
        align-items: center;
        gap: 8px;

        > .header
        {
            flex-shrink: 0;
        }

        > .content
        {
            width: 100%;
            flex-grow: 1;
            flex-direction: column;
            background-color: rgb(34, 34, 36);
            gap: 8px;

            .tabs
            {
                width: 100%;
                justify-content: space-evenly;
                flex-shrink: 0;

                .tab
                {
                    flex-grow: 1;
                flex-shrink: 0;
                    background-color: rgb(24, 24, 27);
                    justify-content: center;
                    align-items: center;

                    &.selected
                    {
                        background-color: rgb(34, 34, 37);
                    }

                    &:hover
                    {
                        background-color: rgb(56, 56, 59);
                        sound-in: ui.button.over;
                    }

                    &:active
                    {
                        background-color: rgb(36, 36, 39);
                        sound-in: ui.button.press;
                    }
                }
            }

            .content
            {
                flex-grow: 1;
                flex-shrink: 0;
                padding: 16px;
                background-color: rgb(56, 56, 59);

                .row
                {
                    flex-grow: 1;
                    height: 100%;
                    padding: 16px;
                    flex-direction: column;
                    background-color: rgba(17, 17, 17, 0.3);

                    &.board
                    {
                        width: 33%;
                    }

                    h1
                    {
                        font-size: 28px;
                        font-weight: 500;
                        padding-bottom: 8px;
                    }

                    h2
                    {
                        font-style: italic;
                        font-weight: 200;
                    }

                    .stat
                    {
                        width: 100%;
                        align-items: center;
                        gap: 8px;

                        &.indent
                        {
                            padding-left: 24px;
                        }

                        .value
                        {
                            flex-grow: 1;
                            text-align: right;
                        }
                    }

                    .header
                    {
                        width: 100%;
                        flex-shrink: 0;

                        .rank
                        {
                            flex-grow: 2;
                        }

                        .name
                        {
                            flex-grow: 1;
                        }

                        .value
                        {
                            width: 130px;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                        }
                    }

                    .entries
                    {
                        flex-direction: column;
                        overflow-x: hidden;
                        overflow-y: scroll;
                        flex-grow: 1;
                        height: 80%;

                        .entry
                        {
                            width: 100%;
                            flex-shrink: 0;
                            gap: 8px;

                            .rank
                            {
                                flex-grow: 2;
                            }

                            .name
                            {
                                flex-grow: 1;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }

                            .value
                            {
                                width: 130px;
                                justify-content: center;
                                align-items: center;
                                text-align: center;
                            }
                        }
                    }

                    &:nth-child(odd)
                    {
                        background-color: rgba(17, 17, 17, 0.5);
                    }
                }
            }

            .popup
            {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }

        .buttons
        {
            width: 100%;
            justify-content: space-between;
            padding: 0px 8px;
            flex-shrink: 0;

            .group
            {
                gap: 16px;
            }

            .button
            {
                font-size: 24px;
                font-weight: 600;
                padding: 8px 16px;
                border-radius: 4px;
                background-color: rgb(49, 49, 53);
                color: white;
                text-shadow: 0px 0px 8px black;
                transition: all 0.2s ease-out;
                cursor: pointer;

                &:hover
                {
                    background-color: rgb(64, 64, 68);
                    sound-in: ui.button.over;
                }

                &:active
                {
                    background-color: rgb(44, 44, 48);
                    sound-in: ui.button.press;
                }
            }
        }
    }
}
