GameOverScreen
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: Protest Strike;
	font-size: 24px;
	color: white;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 64px;
	pointer-events: all;

	.winner
	{
		width: 100%;
		flex-direction: column;
		align-items: center;
		margin: 0px;
		gap: 8px;
		text-shadow: 0px 0px 8px black;
		
		h1
		{
			justify-content: center;
			width: 100%;
			font-size: 92px;
			font-weight: 800;
			color: white;
			padding: 8px;
			box-shadow: 0px 0px 16px black;
			text-shadow: 0px 0px 2px black;
		}

	}

	.container
	{
		width: 100%;
		height: 600px;
		background-color: rgba(26, 27, 31, 0.94);
		padding: 16px;

		.scoreboard
		{
			flex-direction: column;
			padding: 16px;
			gap: 8px;
			
			.header
			{
				padding: 8px;
				gap: 8px;
				text-align: center;
				font-size: 18px;

				.name
				{
					flex-grow: 1;
				}

				.aim
				{
					min-width: 82px;
					max-width: 82px;
				}

				.kills, .deaths
				{
					min-width: 58px;
					max-width: 58px;
				}
			}

			.entries
			{
				flex-direction: column;
				gap: 8px;
				overflow-x: hidden;
				overflow-y: scroll;

				.entry
				{
					flex-direction: row;
					justify-content: flex-start;
					align-items: center;
					padding: 8px;
					background-color: rgba(26, 27, 31, 0.664);
					border-radius: 8px;
					gap: 8px;
					flex-shrink: 0;

					.avatar
					{
						width: 64px;
						height: 64px;
						background-size: cover;
						background-repeat: no-repeat;
						border-radius: 8px;
						flex-shrink: 0;
					}

					.name
					{
						font-size: 24px;
						font-weight: 600;
						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;
						min-width: 120px;
						max-width: 120px;
					}

					.aim
					{
						min-width: 82px;
						max-width: 82px;
						text-align: center;
					}

					.kills, .deaths
					{
						min-width: 58px;
						max-width: 58px;
						text-align: center;
						font-weight: 700;
					}
				}
			}
		}

		.mapvote
		{
			flex-grow: 1;
			padding: 16px;
			gap: 16px;

			h2
			{
				font-size: 24px;
				font-weight: 600;
				text-align: center;
			}

			.maps
			{
				width: 50%;
				flex-direction: column;
				gap: 8px;

				PackageList
				{
					PackageFilters
					{
						height: 0px;

						.left
                        {
                            display: none;
                        }

						.right
						{
							width: 100%;
							justify-content: space-between;
						}

						PackageFilterFacet
						{
							display: none;
						}

						PackageFilterOrder, TextEntry
                        {
                            font-size: 16px;
                            padding: 2px 4px;
                            height: 32px;
                        }
					}
				}
			}

			.voted-maps
			{
				flex-grow: 1;
				flex-direction: column;
				gap: 8px;

				.content
				{
					position: relative;
					flex-grow: 1;
					flex-wrap: wrap;
					justify-content: center;
					gap: 16px;

					.popup
					{
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						justify-content: center;
						align-items: center;
					}
				}
			}
		}
	}

	.timer
	{
		min-width: 350px;
		padding: 12px 24px;
		background-color: black;
		justify-content: center;
	}


	&.hidden
	{
		display: none;
	}
}