Chatbox
{
	position: absolute;
	bottom: 0px;
	left: 48px;
	z-index: 100;
	width: 500px;
	height: 400px;
	max-height: 400px;
	flex-direction: column;
	font-family: Protest Strike;
	text-shadow: 0px 0px 4px black;

	.chat_canvas
	{
		flex-grow: 1;
		padding: 8px;
		justify-content: flex-end;
		flex-direction: column;
		gap: 8px;
		overflow-y: scroll;
	}

	.input_canvas
	{
		flex-direction: row;

		textentry
		{
			background-color: black;
			color: white;
			background-color: rgba( black, 0 );
			font-size: 14px;
			// flex-shrink: 0;
			// flex-grow: 1;
			width: 450px;
			padding: 4px;
		}

		.btn-settings
		{
			opacity: 0;
			top: -2px;
			left: 8px;
			text-align: center;
			justify-content: center;
			align-items: center;
			font-size: 24px;
			transition: transform 0.5s ease-out;

			&:hover
			{
				background-color: rgba(0, 0, 0, 0);
				text-shadow: 0 0 8px rgba(white, 0.8);
				sound-in: ui.button.over;
			}

			&:active
			{
				transition: transform 0s ease-out;
				transform: scale( 0.9 );
			}
		}
	}

	&.open
	{
		background-color: rgba( black, 0.5);
		pointer-events: all;

		textentry
		{
			background-color: rgba( black, 0.5 );
			backdrop-filter: blur( 10px );
		}

		.chat_canvas
		{
			
			ChatEntry
			{

				&.fade
				{
					opacity: 1;
				}
			}
		}

		.input_canvas
		{
			.btn-settings
			{
				opacity: 1;
				flex-grow: 1;
			}
		}

		ChatSettingsPanel
		{
			opacity: 1;
		}

	}

	&.hide-avatars
	{
		ChatEntry
		{
			.avatar
			{
				display: none;
			}
		}
	}
}

ChatEntry
{
	color: white;
	gap: 4px;
	align-items: center;
	flex-shrink: 0;
	opacity: 1;
	transition: opacity 0.2s ease-out;

	&:intro
	{
		opacity: 0;
	}

	&:outro
	{
		opacity: 0;
	}

	.avatar
	{
		width: 24px;
		height: 24px;
	}

	.name
	{
		font-weight: 600;
	}

	.message
	{
		
	}

	&.is-lobby
	{
		.name
		{
			color: #ff80f5;
		}
	}

    &.notification
    {
        .message
        {
            color: #F5FA3C;
        }
    
    }

	&.fade
	{
		opacity: 0;
	}
}

ChatSettingsPanel
{
	opacity: 0;
	position: absolute;
	left: 100%;
	top: 0;
	height: 100%;
	width: 0px;
	overflow: hidden;
	background-color: rgba(black, 0.5);
	transition: width 0.4s ease-out;
	flex-direction: column;
	padding-top: 12px;

    .settings
    {
        flex-direction: column;
        gap: 16px;
    }

	.setting
	{
		width: 100%;
		justify-content: space-between;

		label
		{
            max-height: 24px;
			color: white;
			font-size: 16px;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			text-overflow: ellipsis;
            flex-grow: 1;
		}

        SwitchControl
        {
            flex-shrink: 1;
            flex-grow: 0;
            width: 70px;
        }

		// .button.popupbutton.dropdown
		// {
		// 	overflow: hidden;
		// 	text-overflow: ellipsis;
		// }
	}

	&.open
	{
		width: 200px;
	}
}


label, p
{
    &.rainbow
    {
        animation-name: rainbowcycle;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

.rainbow
{
	> .name
	{
		animation-name: rainbowcycle;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
	}
}

@keyframes rainbowcycle
{
	0%
	{
		color: hsl(0, 100%, 75%);
	}

	20%
	{
		color: hsl(45, 100%, 75%);
	}

	40%
	{
		color: hsl(125, 100%, 75%);
	}

	60%
	{
		color: hsl(180, 100%, 75%);
	}

	80%
	{
		color: hsl(275, 100%, 75%);
	}

	100%
	{
		color: hsl(0, 100%, 75%);
	}
}