MainMenuFrontPage
{
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 64px 128px;
    gap: 48px;
    justify-content: space-between;
    color: white;
    text-shadow: 0px 0px 6px black;

    .logo-container
    {
        position: relative;
        flex-direction: column;

        .logo
        {
            background-size: contain;
            background-repeat: no-repeat;
        }

        h1
        {
            font-size: 164px;
            font-weight: 900;
        }

        .author
        {
            position: absolute;
            top: 200px;
            left: 0px;
            width: 800px;
            margin-left: 16px;
            font-size: 32px;
            font-weight: 300;
            text-align: center;
            font-style: italic;
            font-family: Protest Strike;

            .space
            {
                width: 8px;
            }

            .glowchar
            {
                opacity: 0.7;
            }
        }

        .glowchar
        {
            transform: scale(1);
            transition: all 0.1s ease-out;
            opacity: 1;

            &:hover
            {
                transform: scale(1.1);
                opacity: 1;
                sound-in: ui.button.over;
                text-shadow: 0px 0px 16px white;
            }

            &:active
            {
                transform: scale(0.95);
                sound-in: ui.button.over;
                opacity: 0.4;
                text-shadow: 0px 0px 16px black;
            }
        }

        .splash-text
        {
            position: absolute;
            top: 200px;
            left: 525px;
            transform-origin: 50% 50%;
            transform: rotate(-5deg);
            font-size: 24px;
            color: yellow;
            font-family: Protest Strike;

            label
            {
                transform-origin: 50% 50%;
                animation: pulse 1s infinite ease;
                animation-direction: alternate-reverse;
            }
        }
    }

    .menu
    {
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        font-size: 42px;
        font-weight: 600;

        a, .btn
        {
            transition: all 0.1s ease-out;
            transform: translateX(0px);
            text-shadow: 0px 0px 8px black;
            cursor: pointer;
            width: 500px;
            padding: 16px;
            font-family: Protest Strike;

            &:hover
            {
                transform: translateX(8px) skewX(-5deg);
                sound-in: ui.button.over;
                background-color: rgba(0, 0, 0, 0.493);
            }

            &:active
            {
                transform: translateX(0px);
                sound-in: ui.button.press;
            }
        }
    }

    .my-player
    {
        position: absolute;
        top: 32px;
        right: 32px;
        bottom: 32px;
        width: 30%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 42px;
        font-family: Protest Strike;
        text-align: center;

        .player-cam
        {
            width: 100%;
            height: 70%;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            margin-right: 32px;
            filter: drop-shadow(0px 0px 16px black);
        }

        .player-name
        {
            align-items: center;
            justify-content: center;
            margin-top: -64px;
        }
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}